latex/en/en.aux
latex/en/en.fdb_latexmk
latex/en/en.fls
latex/en/en.log
latex/en/en.out
latex/en/en.pdf
latex/en/en.synctex.gz

latex/ru/ru.aux
latex/ru/ru.fdb_latexmk
latex/ru/ru.fls
latex/ru/ru.log
latex/ru/ru.out
latex/ru/ru.pdf
latex/ru/ru.synctex.gz